language: node_js
node_js:
  - 12
  - 10
  - 8
before_install:
  - npm install --global npm@6
install:
  - npm ci
script:
  - npm run lint
  - npm run test
notifications:
  email: true
after_success: npm run coverage
